body {
    padding-top: 70px;
}

.center-x {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group .help-block {
    display: block;
}

#loading-bar .bar {
    background: #9af;
}

#loading-bar .peg {
    -moz-box-shadow: #abf 1px 0 6px 1px;
    -ms-box-shadow: #abf 1px 0 6px 1px;
    -webkit-box-shadow: #abf 1px 0 6px 1px;
    box-shadow: #abf 1px 0 6px 1px;
}

gm-map {
    display: block;
    height: 250px;
    position: relative;
    width: 100%;
}

.cropArea {
    overflow: hidden;
    width:100%;
    height:350px;
}

.photo-big {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.photo-small {
    overflow: hidden;
}

.photo-big img,
.photo-small img,
.photo-big canvas,
.photo-small canvas {
    display: block;
    height: auto;
    width: 100%;
    /*margin-top: -10%;*/
}

.fit-modal {
    width: 100%;
}
