<div class="container">
	<div class="col-sm-12 col-md-8 col-lg-6 col-md-push-2 col-lg-push-3">
		<img src="{{contact.photo_path}}" data-ratio="2" crossorigin="anonymous" class="tocrop">
		<div class="panel panel-default" ng-repeat="c in [contact]">
			<gm-map ng-cloak ng-if="c.address" gm-address="{address: c.address}" options="{zoom: 16,
																																										 mapTypeControl: false,
																																										 streetViewControl: false,
																																										 zoomControl: false}">
				<gm-marker position="map.getCenter()">
					<gm-infowindow options="{content: c.address}"></gm-infowindow>
				</gm-marker>
			</gm-map>
			<div ng-class="{'row': (c.address && c.photo_path)}">
				<div ng-class="{'photo-big': (!c.address && c.photo_path), 'photo-small col-sm-6 col-md-6 col-lg-6': (c.address && c.photo_path)}" ng-if="c.address || c.photo_path">
					<a href="#" data-toggle="modal" data-target="#photo-modal">
						<canvas class="receivecrop"></canvas>
					</a>
				</div>
				<div ng-class="{'col-sm-6 col-md-6 col-lg-6': (c.address && c.photo_path)}">
					<div class="panel-body">
						<h3 ng-cloak>{{c.name}}</h3>
						<p ng-cloak ng-if="c.email"><strong>E-mail:</strong> {{c.email}}</p>
						<p ng-cloak ng-if="c.phone1"><strong>Phone 1:</strong> {{c.phone1}}</p>
						<p ng-cloak ng-if="c.phone2"><strong>Phone 2:</strong> {{c.phone2}}</p>
						<p ng-cloak ng-if="c.address"><strong>Address:</strong> {{c.address}}</p>
						<p ng-cloak ng-if="c.birthday"><strong>Birthday:</strong> {{c.birthday}}</p>
						<p ng-cloak ng-if="c.groups.length"><strong>Groups:</strong> <a ng-href="/groups/{{group.id}}/" ng-repeat="group in c.groups"><span class="badge">{{group.name}}</span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a ng-href="/contacts/{{c.id}}/edit/" class="btn btn-raised btn-primary">Edit</a>
			</div>
		</div>
	</div>
</div>

<div id="photo-modal" class="modal fade" tabindex="-1" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img class="fit-modal" src="{{contact.photo_path}}">
			</div>
		</div>
	</div>
</div>
