<div class="container">
	<div class="col-sm-12 col-md-8 col-lg-6 col-md-push-2 col-lg-push-3">
		<h3 ng-cloak>{{template_action}} contact</h3>
		<form ng-submit="submitForm()" enctype="multipart/form-data">
			<div class="form-group label-floating" ng-class="{'has-error': formerror.name}">
				<label class="control-label" for="id_name">Name</label>
				<input ng-model="formdata.f_name" class="form-control" id="id_name" name="f_name" type="text" maxlength="254" required>
				<p class="help-block" ng-if="formerror.name" ng-cloak>{{formerror.name}}</p>
			</div>
			<div class="form-group label-floating" ng-class="{'has-error': formerror.phone1}">
				<label class="control-label" for="id_phone1">Phone 1</label>
				<input ng-model="formdata.f_phone1" class="form-control" id="id_phone1" name="f_phone1" type="text" maxlength="28">
				<p class="help-block" ng-if="formerror.phone1" ng-cloak>{{formerror.phone1}}</p>
			</div>
			<div class="form-group label-floating" ng-class="{'has-error': formerror.phone2}">
				<label class="control-label" for="id_phone2">Phone 2</label>
				<input ng-model="formdata.f_phone2" class="form-control" id="id_phone2" name="f_phone2" type="text" maxlength="28">
				<p class="help-block" ng-if="formerror.phone2" ng-cloak>{{formerror.phone2}}</p>
			</div>
			<div class="form-group label-floating" ng-class="{'has-error': formerror.email}">
				<label class="control-label" for="id_email">Email</label>
				<input ng-model="formdata.f_email" class="form-control" id="id_email" name="f_email" type="email" maxlength="254">
				<p class="help-block" ng-if="formerror.email" ng-cloak>{{formerror.email}}</p>
			</div>

			<div class="form-group label-floating">
				<label class="control-label" for="id_photo">Photo</label>
				<input type="file" ngf-select ng-model="f_photo" name="file" ngf-pattern="'image/*'"
							 ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="100" id="id_photo">
				<div class="input-group">
					<input type="text" readonly="" class="form-control" ng-model="filename">
					<span class="input-group-btn input-group-sm">
						<button type="button" class="btn btn-fab btn-fab-mini">
							<i class="material-icons">add_a_photo</i>
						</button>
					</span>
				</div>
			</div>

			<div class="form-group label-floating" ng-class="{'has-error': formerror.address}">
				<label class="control-label" for="id_address">Address</label>
				<input ng-model="formdata.f_address" class="form-control" id="id_address" name="f_address" type="text" maxlength="254">
				<p class="help-block" ng-if="formerror.address" ng-cloak>{{formerror.address}}</p>
			</div>
			<div class="form-group" ng-class="{'has-error': formerror.birthday}">
				<label class="control-label" for="id_birthday">Birthday</label>
				<input ng-model="formdata.f_birthday" class="form-control" id="id_birthday" name="f_birthday" type="date">
				<p class="help-block" ng-if="formerror.birthday" ng-cloak>{{formerror.birthday}}</p>
			</div>
			<div class="form-group" ng-class="{'has-error': formerror.groups}">
				<label class="control-label" for="id_groups">Groups</label>
				<select ng-model="formdata.f_groups" name="f_groups" id="id_groups" multiple="" class="form-control" ng-options="g.id as g.name for g in all_groups"></select>
				<p class="help-block" ng-if="formerror.groups" ng-cloak>{{formerror.groups}}</p>
			</div>

			<div class="form-group">
				<input ng-model="formdata.f_id" type="hidden" id="id_id" name="f_id">
				<button type="submit" class="btn btn-raised btn-primary">Submit</button>
				<button type="button" class="btn btn-raised btn-danger pull-right" ng-click="delete()" ng-if="formdata.f_id">Delete</button>
			</div>

		</form>
	</div>
</div>
