<div class="container">
	<h3>Contacts</h3>
	<a class="btn btn-raised btn-primary" ng-href="/contacts/new/"><i class="material-icons">add</i> Add Contact</a>
	<table class="table table-hover ">
		<tbody>
			<tr ng-repeat="contact in contacts">
				<td><a ng-href="/contacts/{{contact.id}}/" ng-cloak>{{contact.name}}</a></td>
			</tr>
		</tbody>
	</table>
</div>
