<div class="panel panel-default">
	<div class="panel-body">
		<h3 ng-cloak>{{contact.name}}</h3>
		<p ng-cloak ng-if="contact.email"><strong>E-mail:</strong> {{contact.email}}</p>
		<p ng-cloak ng-if="contact.phone1"><strong>Phone 1:</strong> {{contact.phone1}}</p>
		<p ng-cloak ng-if="contact.phone2"><strong>Phone 2:</strong> {{contact.phone2}}</p>
		<p ng-cloak ng-if="contact.birthday"><strong>Birthday:</strong> {{contact.birthday}}</p>
		<p ng-cloak ng-if="contact.groups.length"><strong>Groups:</strong> <span class="badge" ng-repeat="group in contact.groups">{{group.name}}</span>
		</p>
	</div>
</div>
