<!DOCTYPE html>
<html ng-app="ContactsApp">
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contacts App</title>

	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">

	<link rel="stylesheet" type="text/css" href="/css/all.min.css">

	<base href="/">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-href="/">Contacts</a>
		</div>
		<div class="navbar-collapse collapse navbar-inverse-collapse">
			<ul class="nav navbar-nav navbar-right" ng-if="localUsername">
				<li><a ng-href="/" ng-cloak>Olá, {{localUsername}}</a></li>
				<li><a ng-href="/">Contacts</a></li>
				<li><a ng-href="groups/">Groups</a></li>
				<li ng-controller="logoutController"><a href="" ng-click="logOut()">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
<div id="loading-bar-container"></div>
<div class="show-login">
	<div id="login-holder" class="container-fluid">
		<div class="col-sm-12 col-md-4 col-md-push-4">
			<div ng-include="'/templates/pages/authenticate/login.html'"></div>
		</div>
	</div>
	<div id="content" class="container-fluid">
		<ng-view></ng-view>
	</div>
</div>

<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK-SqenoqC5Bg4HbiI_DhEsDrxrtmTU64"></script>-->
<script type="text/javascript" src="/js/all.min.js"></script>

</body>
</html>
