<div id="login-inner" ng-controller="loginController">
	<form name="loginForm" role="form" ng-submit="logIn()" autocomplete="off">
		<div class="form-group">
			<label for="username">Username</label>
			<input id="username" class="form-control" type="text" ng-model="authData.username"/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input id="password" class="form-control" type="password" ng-model="authData.password"/>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary btn-raised" value="Login"/>
			<a class="btn btn-raised btn-default pull-right" ng-href="/newAccount/">Create Account</a>
		</div>
	</form>
		<div class="form-group">
			<p>or</p>
			<a class="btn btn-raised btn-default btn-info" ng-click="authenticate('facebook')">Sign in with Facebook</a>
			<a class="btn btn-raised btn-default btn-info" ng-click="authenticate('google')">Sign in with Google</a>
			<a class="btn btn-raised btn-default btn-info" ng-click="authenticate('github')">Sign in with Github</a>
		</div>
</div>
<div class="clear"></div>

