<div class="container">
	<div class="col-sm-12 col-md-8 col-lg-6 col-md-push-2 col-lg-push-3">
		<h3>Create Account</h3>
		<!--<div class="alert alert-dismissible alert-danger" ng-if="message == 'ERROR'">-->
			<!--<button type="button" class="close" ng-click="dismiss()">&times;</button>-->
			<!--<p>Error while creating user</p>-->
		<!--</div>-->
		<div class="alert alert-dismissible alert-success" ng-if="message == 'SUCCESS'">
			<button type="button" class="close" ng-click="dismiss()">&times;</button>
			<p>User successfuly created. Please, <a ng-href="/">log in</a></p>
		</div>
		<form ng-submit="submitForm()">
			<div class="form-group label-floating" ng-class="{'has-error': formerror.username}">
				<label class="control-label" for="id_username">Username</label>
				<input ng-model="formdata.username" class="form-control" id="id_username" name="username" type="text" required>
				<p class="help-block" ng-if="formerror.username" ng-cloak>{{formerror.username}}</p>
			</div>
			<div class="form-group label-floating" ng-class="{'has-error': formerror.password}">
				<label class="control-label" for="id_password">Password</label>
				<input ng-model="formdata.password" ng-keyup="checkPassword()" class="form-control" id="id_password" name="password" type="password" required>
				<p class="help-block" ng-if="formerror.password" ng-cloak>{{formerror.password}}</p>
			</div>
			<div class="form-group label-floating" ng-class="{'has-error': formerror.password_again}">
				<label class="control-label" for="id_password_again">Repeat Password</label>
				<input ng-model="formdata.password_again" title="" ng-keyup="checkPassword()" class="form-control" id="id_password_again" name="password_again" type="password" required>
				<p class="help-block" ng-if="formerror.password_again" ng-cloak>{{formerror.password_again}}</p>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-raised btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>
