<div class="container">
	<div class="col-sm-12 col-md-8 col-lg-6 col-md-push-2 col-lg-push-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 ng-cloak>{{group.name}}</h3>
				<p ng-cloak ng-repeat="contact in contacts_list"><a ng-href="/contacts/{{contact.id}}/">{{contact.name}}</a></p>
			</div>
			<div class="panel-footer">
				<a ng-href="/groups/{{group.id}}/edit/" class="btn btn-raised btn-primary">Edit</a>
			</div>
		</div>
	</div>
</div>
