<div class="container">
	<div class="col-sm-12 col-md-8 col-lg-6 col-md-push-2 col-lg-push-3">
		<h3 ng-cloak>{{template_action}} group</h3>
		<form ng-submit="submitForm()">
			<div class="form-group label-floating" ng-class="{'has-error': formerror.name}">
				<label class="control-label" for="id_name">Name</label>
				<input ng-model="formdata.f_name" class="form-control" id="id_name" name="f_name" type="text" maxlength="64" required>
				<p class="help-block" ng-if="formerror.name" ng-cloak>{{formerror.name}}</p>
			</div>
			<div class="form-group">
				<input ng-model="formdata.f_id" type="hidden" id="id_id" name="f_id">
				<button type="submit" class="btn btn-raised btn-primary">Submit</button>
				<button type="button" class="btn btn-raised btn-danger pull-right" ng-click="delete()" ng-if="formdata.f_id">Delete</button>
			</div>
		</form>
	</div>
</div>
