<div class="container">
	<h3>Groups</h3>
	<a class="btn btn-raised btn-primary" ng-href="/groups/new/"><i class="material-icons">add</i> Add Group</a>
	<table class="table table-hover ">
		<tbody>
			<tr ng-repeat="group in groups">
				<td><a ng-href="/groups/{{group.id}}/" ng-cloak>{{group.name}}</a></td>
			</tr>
		</tbody>
	</table>
</div>
